<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{error_name}}</title>

    <link rel="preconnect" href="https://fonts.bunny.net">
    <link href="https://fonts.bunny.net/css?family=figtree:400,600&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="/global.css">
</head>
<body>
    <header>
        <h1>Express Template Site</h1>
        <p>Template to start a website project using Express.js, Nunjucks and more.</p>
    </header>

    <main>
        <section>
            <strong>We encountered an error while processing your request</strong>
            {% if error_type == '404' %}
                <p>We couldn't find the page you were looking for.</p>
                <code class="error_box">
                    <span>Details</span>
                    {{error_name|safe}}
                </code>
                <p>It seems that the page you are trying to access is not available or may have been moved. Please check the URL and try again.</p>
            {% elif error_type == '500' %}
                <p>We're sorry, but something went wrong on our end.</p>
                <code class="error_box">
                    <span>Details</span>
                    {{error_name|safe}}
                </code>
                <p>This could be due to a server misconfiguration or an unexpected error occurred while processing your request.</p>
                <p>Please try again later. If the problem persists, feel free to contact support for further assistance.</p>
            {% else %}
                <p>We encountered an unexpected error while processing your request.</p>
                <code class="error_box">
                    <span>Details</span>
                    {{error_name|safe}}
                </code>
                <p>Please try again later. If the problem persists, don't hesitate to contact support for assistance.</p>
            {% endif %}
    </main>

    <footer>
        <p>
            Express Template Site | Developed by <a href="https://phownix.vercel.app/">Phownix</a>
        </p>
    </footer>
</body>
</html>