*,::after,::before{
    box-sizing:border-box;
    border-width:0;
    margin:0;
    padding:0;
    outline: none;
}

html{
    line-height:1.5;
    -webkit-text-size-adjust:100%;
    -moz-tab-size:4;
    tab-size:4;
    font-family:Figtree, sans-serif;
    font-feature-settings:normal
}

body{
    display: flex;
    flex-direction: column;
    background-color: #0F4445;
    color: white;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    max-width: 600px;
    height: 100vh;
    margin: 0 auto;
    padding: 0 1rem;
}

header{
    padding: 1rem 0;
    border-bottom: 1px solid #ffffff50;
    margin-bottom: 1rem;
}

header h1{
    font-size: 2em;
}

main{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem 0;
    flex-basis: 100%;
}

strong{
    line-height: 1em;
    font-size: 1.1em;
}

kbd{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: .2rem .4rem;
    padding-top: .1rem;
    font-size: calc(1em - .4rem);
    background-color: #0c3637;
    border-radius: 1rem;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-top: 1px solid #ffffff50;
    margin-top: 1rem;
}

footer a{
    color: #0ee2e9;
}

code,
.error_box{
    background-color: #0c3637;
    border-radius: 1rem;
    padding: 1rem;
    font-size: .9em;
}