*,::after,::before{
    box-sizing:border-box;
    border-width:0;
    margin:0;
    padding:0;
    outline: none;
}

html{
    line-height:1.5;
    -webkit-text-size-adjust:100%;
    -moz-tab-size:4;
    tab-size:4;
    font-family:Figtree, sans-serif;
    font-feature-settings:normal;
    background-color: #191919;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #171717;
    color: #ececec;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    max-width: 640px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0rem 3rem;
}

header{
    padding: 1.5rem 0rem 2rem 0;
    border-bottom: 1px solid #1f1f1f;
    
}

header h1{
    font-size: 2.25em;
}

main{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem 0;
    flex-basis: 100%;
}

main section{
    margin: 1rem 0;
}

main ul li{
    list-style: disc inside;
}

strong{
    line-height: 1em;
    font-size: 1.1em;
}

kbd{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: .2rem .4rem;
    padding-top: .1rem;
    font-size: calc(1em - .4rem);
    background-color: #0c3637;
    border-radius: 1rem;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    
    border-top: 1px solid #1f1f1f;
    margin-top: 1rem;
}

footer a{
    color: #0ee2e9;
}

code,
.error_box{
    position: relative;
    display: block;
    background-color: #0c3637;
    border-radius: .5rem;
    padding: 1rem;
    padding-top: 2rem;
    margin: 1rem 0;
    font-family: inherit;
    font-size: .9em;
}

.error_box span{
    display: block;
    position: absolute;
    top: .5rem;
    left: 1rem;
    font-weight: 600;
    font-variant: small-caps;
    opacity: .4;
    font-size: .9em;
}