<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="preconnect" href="https://fonts.bunny.net">
    <link href="https://fonts.bunny.net/css?family=figtree:400,600&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="/global.css">
</head>
<body>
    <header>
        <h1>Express Template Site</h1>
        <p>Template to start a website project using Express.js, Nunjucks and more.</p>
    </header>

    <main>
        <section>
            <h2>About</h2>
            <p>Welcome to Express Template Site, a ready-to-use boilerplate for quickly starting your web development projects with Express.js. This template comes pre-configured with essential tools like Nunjucks, dotenv, compression, and nodemon to streamline your development process.</p>
        </section>
        <section>
            <h2>Features</h2>
            <ul>
                <li>Pre-configured Express.js server</li>
                <li>Nunjucks for template rendering</li>
                <li>dotenv for environment variable management</li>
                <li>Compression for gzip compression of responses</li>
                <li>Nodemon for automatic server restarts during development</li>
            </ul>
        </section>
        <section>
            <h2>Get Started</h2>
            <p>To get started with Express Template Site, simply clone or download the repository from GitHub and follow the instructions in the README.md file. You'll be up and running in no time!</p>
        </section>        
    </main>

    <footer>
        <p>
            Express Template Site | Developed by <a href="https://phownix.vercel.app/">Phownix</a>
        </p>
    </footer>
</body>
</html>